<%include header%>



    <div style = "padding-top:2.5%">
        <div class = "ui main text container segment">
            <div style = "text-align:center">
                <h1>Sign Up Form</h1>
                <form action = "/register" method = "POST">
                    <br>
                    <input class = "form-control" "form-control form-rounded" type = "text" name ="username" placeholder = "Username">
                    </br>
                    <br>
                    <input class = "form-control" "form-control form-rounded" type = "password" name = "password" placeholder = "Password">
                    </br>
                    <br>
                    <button class="ui fluid black button">Submit</button>
                    </br>
                </form>
                <a href = "/login">Already have a Account- Login</a>
            </div>
        </div>
    </div>        
         
<%include footer%>