<%include header%>    
    
    
    <div style = "padding-top:2.5%">
        <div class = "ui main text container segment">
            <div style = "text-align:center">
                <h1>You've Successfully Logged-In</h1>
                    <a href = "/logout">Logout</a>
            </div>
        </div>
    </div>
    
<%include footer%>